@main-middle: #4E7CA0;
@main-dark: #365A7D;
@main-light: #7094AE;

@keyframes portfolio {
    from {
      top: 410px;
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      top: 0;
      opacity: 1;
      transform: translateY(0px);
    }
}

body.modal-open {
    overflow: visible;
    padding-right: 0 !important;
    #heading-img,
    #portfolio-items {
      filter: blur(5px);
    }
}

button.btn-portfolio {
    background: @main-dark;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0;
    border: none;
    border-radius: 0;
    transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

button.btn-portfolio:hover,
button.btn-portfolio:focus {
  background: @main-middle;
  transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.no-p {
  padding: 0 !important;
  &:first-child {
    padding-left: 15px !important;
  }
  &:last-child {
    padding-right: 15px !important;
  }
}

.no-m {
  margin: 0 !important;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  #site-logo {
    background: @main-middle;
    height: 260px;
    .logo {
      height: 130px;
      background: @main-dark;
      color: white;
      font-size: 10rem;
      line-height: 1;
      text-align: center;
      padding-top: 20px;
      margin: 0 -15px;
    }
    .description {
      color: white;
      font-size: 4.5rem;
      font-family: 'Oleo Script', cursive;
      line-height: 0.8;
      text-align: center;;
      padding: 25px 0 15px 0;
    }
    @media screen and (min-width: 768px) {
      height: 130px;
      .logo {
        margin: 0;
      }
      .description {
        text-align: right;
      }
    }
  }
  &.affix {
    #site-logo {
      height: 160px;
      .logo {
        height: 80px;
        font-size: 6rem;
        padding-top: 10px;
      }
      .description {
        font-size: 2.5rem;
        padding: 15px 0 15px;
      }
      @media screen and (min-width: 768px) {
        height: 80px;
      }
    }
  }
}

main {
  margin: 200px 0 115px 0;
  h3, h4, h5, p, span {
    font-family: 'Hind Vadodara', sans-serif;
  }
  h2 {
    color: white;
    font-size: 4.5rem;
    font-family: 'Oleo Script', cursive;
    line-height: 0.8;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
  }
  #heading-img {
    .heading-img-img {
      margin: 0 -15px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  section#portfolio-items {
    margin-bottom: 80px;
    .portfolio-item {
      position: relative;
      top: 0;
      background: @main-light;
      margin: 40px 0 0 0;
      box-shadow: -8px 24px 30px -2px rgba(0,0,0,.3);
      transition: box-shadow 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      animation-name: portfolio;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      @media screen and (min-width: 768px) {
        margin: -75px 0 0 0;
        box-shadow: -30px 24px 30px -2px rgba(0, 0, 0, 0.3);
      }
      figure {
        figcaption {
          padding: 1.5rem;
          h3 {
            color: white;
            text-align: center;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .portfolio-item:hover,
    .portfolio-item:focus {
      box-shadow: -7px 6px 10px -2px rgba(0, 0, 0, 0.4);
      transition: box-shadow 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  section#about {
    .container-about {
      min-height: 600px;
      padding: 50px 0;
      background-image: url(../img/bg/about-bg-450-2x.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      @media screen and (min-width: 450px) {
        background-image: url(../img/bg/about-bg-768-2x.jpg);
      }
      @media screen and (min-width: 768px) {
        background-image: url(../img/bg/about-bg-992-2x.jpg);
      }
      @media screen and (min-width: 992px) {
        background-image: url(../img/bg/about-bg-1200-2x.jpg);
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 130px
  }
  .modal {
    img {
      width: 100%;
      height: auto;
    }
    .modal-dialog {
      margin: 60px auto;
      .modal-content {
        border: none;
        .modal-header {
          background: @main-dark;
          padding: 25px;
          border-bottom: none;
          h4.modal-title {
            color: white;
            font-weight: 300;
            text-transform: uppercase;
          }
          .close {
            float: right;
            font-size: 50px;
            font-weight: 700;
            line-height: 0.5;
            color: white;
            text-shadow: none;
            filter: alpha(opacity=20);
            opacity: 1;
            margin-left: 1.5rem;
          }
        }
        .modal-body {
          padding: 0;
          .features-description {
            font-size: 1.6rem;
            padding: 25px;
          }
        }
      }
    }
  }
}

footer {
  color: white;
  text-align: center;
  background: @main-light;
  h1, h2, h3, h4, h5, p, span {
    font-family: 'Hind Vadodara', sans-serif;
  }
  p.made-with {
    background: @main-dark;
    font-size: 1.5rem;
    padding: 35px 0;
    margin: 0;
  }
  a.social-icons {
    color: white;
    font-size: 4rem;
    transition: color 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    &:hover {
      color: @main-light;
      transition: color 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }
    .btn-social-icon {
      padding: 70px 0;
      &.btn-git {
        background: @main-dark;
        transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        &:hover {
          background: @main-middle;
          transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }
      }
      &.btn-xing {
        background: @main-light;
        transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        &:hover {
          background: @main-middle;
          transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }
      }
      &.btn-linkedin {
        background: @main-middle;
        transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        &:hover {
          background: @main-dark;
          transition: background 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }
      }
    }
  }
}
